# Отчет о тестировании приложения Money Transfer

## В ходе тестирования установлен результат операции приложения при пополнении баланса (счета) клиента

В период времени с 12.06.2021 18 часов 55 минут по 12.06.2021 19 часов 41 минуту был составлен тест-кейс и на его основе произведено Smoke-тестирование (функциональное тестирование приложения Money Transfer)

На тестирование затрачено: 00 часов 46 минут

в результате тестирования выявлен дефект:
* (https://github.com/Sapozhnikova-Ksenia/Java-Lesson-1.2-Task-1/issues/1) 

## Описание процесса тестирования

В процессе тестирования использовались следующие артефакты:
* [Test-case.md] (https://github.com/Sapozhnikova-Ksenia/Java-Lesson-1.2-Task-1/blob/master/Test-case.md)

В качестве тестовых данных использовались следующие данные:
* (https://github.com/netology-code/javaqa-homeworks/tree/master/programming)
* (https://github.com/netology-code/javaqa-code/blob/master/1.2_programming/variables/src/Main.java)

Тестирование производилось в следующем окружении:
* Java - openjdk версия "11.0.11" 2021-04-20, 
* IntelliJ IDEA Community Edition 2021.1.2, 
* OC Windows 10 64-разрядная, х64